@mixin text-style1 {
    font-family: "Poppins", sans-serif;
    color: black;
}

@mixin text-style2 {
    font-family: "Montserrat";
    font-weight: 700;
    color: black;
    font-size: 34px;
}

@mixin text-style3 {
  font-family: "Montserrat";
  font-weight: 800;
  color: black;
  font-size: 40px;
}

@mixin main-button {
    background-color: $main-color;
        cursor: pointer;
        height: 74px;
        width: 222px;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        border: none;
        color: white;
        margin-left: 39px;
        margin-top: 31px;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $main-color;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken($main-color, 15%);
            transition: all .3s;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            &:before {
              width: 100%;
            }
          }
        }



@mixin main-button2 {
  background-color: $main-color;
  cursor: pointer;
  height: 65px;
  width: 175px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border: none;
  color: white;
  margin-left: 39px;
  margin-top: 31px;
  text-transform: uppercase;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  letter-spacing: .15rem;
  z-index: 1;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $main-color;
          z-index: -2;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken($main-color, 15%);
          transition: all .3s;
          z-index: -1;
        }
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }
}