@import 'variables';
@import 'mixins';

//=== MEDIA QUERIES ===//




//=== SMALL DEVICES ===//

@media (min-width: 320px) and (max-width: 767px) { 

  html, body {
    margin: 0;
    height: 100%;
  }
  

   //=== HAMBURGER MENU ===//

   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: visible;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    z-index: 99;
    overflow: hidden;
  }
  
  .menu > li {
    overflow: hidden;
    width: 100%;
    @include text-style1;
    text-align: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(24, 29, 29);
    }
  }

  .menu a {
    color: #ffffff;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-right: 75px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container + .menu {
    max-height: 800px; 
    margin-top: $navbar-height;
    overflow-y: auto; 
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      top: 100%;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }


  //=== HAMBURGER MENU END ===//



  //=== END OF NAVBAR ===//
  
    .main-section {
        background-image: none !important;
        background-color: $second-color;
    }

    .main-content {
      background-color: $second-color !important;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      width: 100vh;
    }

    .main-container {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100% !important;
    }

    .main-p, .h1-text, h5, .product-images, .button-container, .main-button, .main-content, .main-container, .content-item, #content-1, .content-item active {
      padding: 0 0 0 0 !important;
      margin: 0 0 0 0 !important;
    }

    .icons-container, .items-container, .icon1, .icon2, .icon3, .icon4, .logo-text {
        display: none !important;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5% !important;
    }

    .h1-text, .main-p, .h5-text, h5 {
      text-align: center !important;
    }
    
    .h1-text {
  text-align: center !important; 
  font-size: 35px !important;     
  margin: 0 auto !important;     
  width: auto !important;      
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  }

  .content-item {
    display: flex;                
    flex-direction: column;       
    justify-content: center;      
    align-items: center;           
    text-align: center;           
    height: 100vh;                
    padding: 20px;              
  }
  
  .main-p {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }


  .h5-text {
    margin-top: 30%;
  }

  h5 {
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }


.prev-btn, .next-btn, .carousel-controls {
  flex-grow: 0 !important;
  align-self: flex-end;
}

.product-images {
  justify-content: center !important;
}

.product-images img {
  width: 90px !important;
}



}


//=== END OF SMALL DEVICES ===//






//=== MEDIUM DEVICES ===//

@media (min-width: 768px) and (max-width: 991px) {
  .items-container, .icons-container, .icon1, .icon2, .icon3, .icon4, .h1-text2, .first-part2, .second-part2, .main-button2, .main-button2-container, .p-text2 {
    display: none !important;
}

  //=== HAMBURGER MENU ===//

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 100;
    overflow: visible;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    z-index: 99;
    overflow: hidden;
  }
  
  .menu > li {
    overflow: hidden;
    width: 100%;
    @include text-style1;
    text-align: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(24, 29, 29);
    }
  }

  .menu a {
    color: #ffffff;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-right: 75px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container + .menu {
    max-height: 800px; 
    margin-top: $navbar-height;
    overflow-y: auto; 
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      top: 100%;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }


  //=== HAMBURGER MENU END ===//

  .main-container {
    display: flex;
    padding: 0 0 0 0 !important;
    justify-content: center !important;
  }


}   


//=== END OF MEDIUM DEVICES ===//





//=== LARGE DEVICES - 961PX+ ===//

@media (min-width: 992px) and (max-width: 1199px) {

    .main-content2, .main-button2, .top-nav, .h1-text2, .p-text2, .main-container, .menu-button-container, .menu-button, .menu, #menu-toggle {
        display: none;
    }

    .items-container {
      margin-left: 0px !important;
    }

    .items-container ul {
      gap: 50px !important;
    }
  
    .icons-container {
      margin-right: 30px !important;
      gap: 40px !important;
    }

    .main-container {
      padding: 0 0 0 0 !important;
      justify-content: center !important;
    }    
  }
  






//=== END OF LARGE DEVICES - 961PX+ ===//



//=== MORE THAN 1200 px ===//

@media (min-width: 1200px) {

.main-content2, .main-button2, .top-nav, .h1-text2, .p-text2, .main-container, .menu-button-container, .menu-button, .menu, #menu-toggle, .arrow2 {
  display: none;
}

}


//=== DESKTOP VERSION ===//



//=== BODY ===//

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//=== END OF BODY ===//


//=== NAVBAR FIRST SECTION (LOGO + FURNIRO) ===//

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 0 1 auto;
  margin-left: 35px; 

    img {
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    .logo-text {
        @include text-style2;
        margin: 0 0 0 0;
    }
    }

//=== END OF FIRST SECTION NAVBAR (LOGO + FURNIRO) ===//


//=== NAVBAR ===//

* {
  box-sizing: border-box; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 20px;
  z-index: 100;
  flex-wrap: nowrap;
}

//=== END OF NAVBAR ===//


//=== NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//

.items-container {
  display: flex;
  flex: 1 1 auto; 
  justify-content: center;
  margin-left: 95px;
}

.items-container ul {
  display: flex;
  list-style: none;
  gap: 75px;
  margin: 0;
  padding: 0;
}

    li a {
        @include text-style1;
        display: inline-block;
        text-decoration: none;
        transition: transform 0.3s ease, color 0.3s ease;
        &:hover {
          color: $main-color;
          transform: scale(1.1);
        }
}



//=== END OF NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//


//=== NAVBAR THIRD SECTION (ICONS) ===//

.icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 45px; 
  flex: 0 1 auto; 
  margin-right: 80px; 
}

.icon1, .icon2, .icon3, .icon4 {
  height: 27px;
  width: 27px;
}

.icons-container img {
  transition: transform 0.3s ease; 

  &:hover {
    transform: scale(1.1); 
  }
}

a {
  text-decoration: none;
}


//=== END OF NAVBAR THIRD SECTION (ICONS) ===//


//=== MAIN CONTENT ON HOME PAGE ===//

.main-container {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 58px;

}


.main-content {
  display: flex;
  flex-direction: column;
  background-color: #FFF3E3;
  background-size: cover;
  background-position: center;
  margin-top: 160px;
  text-align: start;
  width: 100%;
  max-width: 643px;
  min-height: 443px;
  border-radius: 2%;

  h5 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    color: $text-color;
    text-align: center; 
    margin-top: 62px;  
    margin-left: 81px;  
    width: fit-content; 
    transition: transform 0.3s ease;
    transform-origin: center; 
  
    &:hover {
      transform: scale(1.1); 
    }
  }

    .h1-text {
      line-height: 1.26; 
      color: $main-color;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 52px;
      margin-top: -22px;
      margin-left: 81px;
    
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
    }
    

      

    .main-p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        margin-left: 81px;
        margin-top: -42px;
        margin-bottom: 0px !important;
        line-height: 1.37;
        color: $text-color;
    }

    .main-button {
        @include main-button;
        margin-left: 81px;
    }
  }
  



//=== END OF MAIN CONTENT ON HOME PAGE ===//


//=== BACKGROUND ON HOME PAGE ===//

.main-section {
    background-image: url(../../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: $navbar-height;
    height: 100vh; 
    width: 100%;
}


.main-content {
  position: relative;
  overflow: hidden;
}


.content-item.active {
  opacity: 1;
  position: relative;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.7); 
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  pointer-events: all; 
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;  
  height: 50px; 
}

.carousel-controls button:hover {
  background-color: rgba(0, 0, 0, 0.9); 
  transform: scale(1.1); 
}

.prev-btn {
  position: absolute;
  left: 10px; 
}

.next-btn {
  position: absolute;
  right: 10px; 
}

.carousel-controls button:focus {
  outline: none;
}



.product-images {
  display: flex; 
  justify-content:flex-start; 
  margin-top: 20px; 
  margin-left: 71px;
}

.product {
  text-align: center !important;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  margin-top: 20px;
}

.product-image {
  width: 120px;
  height: 100px; 
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1); 
  }
}


h6 {
  @include text-style1;
  margin-top: 10px;
  margin-bottom: 5px;
}

.main-p3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  margin: 0px !important;
}

.main-p4 {
    @include text-style1;
    font-size: 15px;
    margin-left: 81px;
    margin-top: 20px;
}


.main-p2 {
  @include text-style3;
  margin-left: 81px;
  margin-bottom: 10px;
  margin-top: 0px !important;
}

.letters {
  font-weight: bold;
  color: rgb(247, 65, 211);
}

.text-wrapper {
  overflow: hidden;
  margin-bottom: 20px;
}



#content-3 .h1-text {
  color: black;
  margin-bottom: 52px;
}



//=== END OF BACKGROUND ON HOME PAGE ===//

//=== END OF DESKTOP VERSION ===//






