@import 'variables';
@import 'mixins';

//=== MEDIA QUERIES ===//




//=== SMALL DEVICES ===//

@media (min-width: 320px) and (max-width: 767px) { 

  html, body {
    margin: 0;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  

  //=== menu ===//

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 100;
    overflow: visible;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    z-index: 99;
    overflow: hidden;
  }
  
  .menu > li {
    overflow: hidden;
    width: 100%;
    @include text-style1;
    text-align: center;
    align-items: center;
    color: white;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-right: 75px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container + .menu {
    max-height: 500px; 
    margin-top: $navbar-height;
    overflow-y: auto; 
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .menu a {
      color: #ffffff;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      top: 100%;
      padding: 0.5em 0;
      width: 100%;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }


  //=== HAMBURGER MENU END ===//



  //=== END OF NAVBAR ===//



  .main-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }
  
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }
  
  .p-text2 {
    margin: 0 0 0 0 !important;
  }

    .main-button2 {
        @include main-button2;
        margin-top: 20px;
        margin-left: 0px !important;
        padding: 0 0 0 0 !important;
    }

    .main-button2-container {
      justify-content: center !important;
      align-items: center !important;
      display: flex;
    }


    .h1-text2 {
        text-align: center;
        margin-top: 100px;

    }

    .p-text2 {
        @include text-style1;
        text-align: center;
    }

    .first-part2, .second-part2 {
        @include text-style2;
    }

    .main-container {
        padding: 0px !important
    }

    .main-content {
        margin: 0px !important;
    }



    .main-section {
        background-image: none !important;
        background-color: $second-color;
         
        h5, .first-part, .second-part, .main-p, .main-button {
            display: none;
        }
    }

    .icons-container, .items-container, .icon1, .icon2, .icon3, .icon4, .logo-text, .h1-text {
        display: none !important;
    }
  }




//=== END OF SMALL DEVICES ===//






//=== MEDIUM DEVICES ===//

@media (min-width: 768px) and (max-width: 991px) {
  .items-container, .icons-container, .icon1, .icon2, .icon3, .icon4, .h1-text2, .first-part2, .second-part2, .main-button2, .main-button2-container, .p-text2 {
    display: none !important;
}

  //=== HAMBURGER MENU ===//

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 100;
    overflow: visible;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    z-index: 99;
    overflow: hidden;
  }
  
  .menu > li {
    overflow: hidden;
    width: 100%;
    @include text-style1;
    text-align: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(24, 29, 29);
    }
  }

  .menu a {
    color: #ffffff;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-right: 75px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container + .menu {
    max-height: 800px; 
    margin-top: $navbar-height;
    overflow-y: auto; 
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      top: 100%;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }


  //=== HAMBURGER MENU END ===//

  .main-container {
    display: flex;
    padding: 0 0 0 0 !important;
    justify-content: center !important;
  }

}     

//=== END OF MEDIUM DEVICES ===//





//=== LARGE DEVICES - 961PX+ ===//

@media (min-width: 992px) and (max-width: 1199px) {

    .main-content2, .main-button2, .top-nav, .h1-text2, .p-text2, .main-container, .menu-button-container, .menu-button, .menu, #menu-toggle {
        display: none;
    }

    .items-container {
      margin-left: 0px !important;
    }

    .items-container ul {
      gap: 50px !important;
    }
  
    .icons-container {
      margin-right: 30px !important;
      gap: 40px !important
    }

    .main-container {
      padding: 0 0 0 0 !important;
      justify-content: center !important;
    }

  }
  






//=== END OF LARGE DEVICES - 961PX+ ===//



//=== MORE THAN 1200 px ===//

@media (min-width: 1200px) {

.main-content2, .main-button2, .top-nav, .h1-text2, .p-text2, .main-container, .menu-button-container, .menu-button, .menu, #menu-toggle {
  display: none;
}

}


//=== DESKTOP VERSION ===//



//=== BODY ===//

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//=== END OF BODY ===//


//=== NAVBAR FIRST SECTION (LOGO + FURNIRO) ===//

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 0 1 auto;
  margin-left: 35px; 

    img {
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    .logo-text {
        @include text-style2;
        margin: 0 0 0 0;
    }
    }

//=== END OF FIRST SECTION NAVBAR (LOGO + FURNIRO) ===//


//=== NAVBAR ===//

* {
  box-sizing: border-box; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 20px;
  z-index: 100;
  flex-wrap: nowrap;
}

//=== END OF NAVBAR ===//


//=== NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//

.items-container {
  display: flex;
  flex: 1 1 auto; 
  justify-content: center;
  margin-left: 95px;
}

.items-container ul {
  display: flex;
  list-style: none;
  gap: 75px;
  margin: 0;
  padding: 0;
}

    li a {
        @include text-style1;
        display: inline-block;
        text-decoration: none;
        transition: transform 0.3s ease, color 0.3s ease;
        &:hover {
          color: $main-color;
          transform: scale(1.1);
        }
}



//=== END OF NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//


//=== NAVBAR THIRD SECTION (ICONS) ===//

.icons-container {
  display: flex;
  justify-content: flex-end;
  gap: 45px; 
  flex: 0 1 auto; 
  margin-right: 80px; 
}

.icon1, .icon2, .icon3, .icon4 {
  height: 27px;
  width: 27px;
}

.icons-container img {
  transition: transform 0.3s ease; /* Přidáme přechod pro plynulé zvětšení */

  &:hover {
    transform: scale(1.1); /* Zvětšení při hoveru */
  }
}

a {
  text-decoration: none;
}


//=== END OF NAVBAR THIRD SECTION (ICONS) ===//


//=== MAIN CONTENT ON HOME PAGE ===//

.main-container {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 58px;

}


.main-content {
  display: flex;
  flex-direction: column;
    background-color: #FFF3E3;
    background-size: cover;
    background-position: center;
    margin-top: 160px;
    text-align: start;
    width: 100%;
    max-width: 643px;
    min-height: 443px;
    border-radius: 2%;

    h5 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 3px;
        margin-left: 41px;
        margin-top: 62px;
        color: $text-color;
    }

    .h1-text {
      line-height: 1.26; 
      color: $main-color;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 52px;
      margin-top: -22px;
      margin-left: 41px;
    
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid;
      animation: typing 3s steps(20, end) forwards; 
    }
    

    @keyframes typing {
      from { width: 0; }
      to { width: 65%; }
    }
    
      

    .main-p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        margin-left: 41px;
        margin-top: -42px;
        line-height: 1.37;
        color: $text-color;
    }

    .main-button {
        @include main-button
    }
  }



//=== END OF MAIN CONTENT ON HOME PAGE ===//


//=== BACKGROUND ON HOME PAGE ===//

.main-section {
    background-image: url(../../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: $navbar-height;
    height: 100vh; 
    width: 100%;
}

//=== END OF BACKGROUND ON HOME PAGE ===//

//=== END OF DESKTOP VERSION ===//






