@import 'variables';
@import 'mixins';

//=== MEDIA QUERIES ===//

// MOBILE DEVICES - MAX 320PX //

@media (max-width: 320px) { 

    .main-button2 {
        @include main-button2;
        margin-left: 70px;
    }

    .h1-text2 {
        text-align: center;
        margin-top: 100px;

    }

    .p-text2 {
        @include text-style1;
        text-align: center;
    }

    .first-part2, .second-part2 {
        @include text-style2;
    }

    .main-container {
        padding: 0px !important
    }

    .main-content {
        margin: 0px !important;
    }

    .h1-text, .logo-text {
        display: none;
    }

    .logo-container {
        margin-right: 30px;
    }

    .main-section {
        background-image: none !important;
        background-color: $second-color;
         
        h5, .first-part, .second-part, .main-p, .main-button {
            display: none;
        }
    }

    .icons-container, .items-container, .icon1, .icon2, .icon3, .icon4 {
        display: none;
    }

    //=== HAMBURGER MENU ===//



    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 0;
      }
      
      .menu > li {
        overflow: hidden;
        width: 100%;
        @include text-style1;
        text-align: center;
        align-items: center;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 170px;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #000000;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container + .menu {
        max-height: 800px; 
        overflow-y: auto; 
        margin-top: $navbar-height;
    }

      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
      }



      //=== HAMBURGER MENU END ===//

// END OF MOBILE DEVICES - MAX 320PX //


// MEDIUM DEVICES - MAX 960PX //

@media (min-width: 321px) and (max-width: 960px) {
    .items-container, .h1-text2, .p-text2, .main-button2, .icons-container, .icon1, .icon2, .icon3, .icon4 {
        display: none;
    }

    .logo-container {
        margin-left: 200px;
    }

    .main-content {
        background-color: #FFF3E3;
        margin-top: 160px;
        margin-right: 120px;
        text-align: start;
        width: 650px !important;
        height: 450px !important;
        border-radius: 2%;
    
        h5 {
            font-family: "Poppins";
            font-weight: 600;
            font-size: 20px !important;
            letter-spacing: 3px;
            margin-left: 41px;
            margin-top: 62px;
            color: $text-color;
        }
    
        .h1-text {
            line-height: 1.26; 
            color: $main-color;
            font-family: "Poppins";
            font-weight: 700;
            font-size: 56px !important;
            margin-top: -22px;
            margin-left: 41px;
        }
    
    
        .main-p {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 22px !important;
            margin-left: 41px;
            margin-top: -42px;
            line-height: 1.37;
            color: $text-color;
            margin-bottom: 0px !important;
        }
    
        .main-button {
            @include main-button;
        }
    
    }

    .main-section {
        background-image: url(../../images/background5.png);
        background-repeat: no-repeat;
        margin-top: $navbar-height;
        background-position: 50%;
    }

    //menuuuuu

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 0;
      }
      
      .menu > li {
        overflow: hidden;
        width: 100%;
        @include text-style1;
        text-align: center;
        align-items: center;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 620px;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #000000;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container + .menu {
        max-height: 800px; 
        overflow-y: auto; 
        margin-top: $navbar-height;
    }

      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
    }
      





// END OF MEDIUM DEVICES - MAX 960PX //


//=== LARGE DEVICES - 961PX+ ===//

@media (min-width: 961px) {

    .main-content2, .main-button2, .top-nav, .h1-text2, .p-text2 {
        display: none;
    }
}

//=== END OF LARGE DEVICES - 961PX+ ===//


//=== BODY ===//

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//=== END OF BODY ===//


//=== NAVBAR FIRST SECTION (LOGO + FURNIRO) ===//

.logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 505px;
    margin-left: 55px;
    margin-top: 36px;
    margin-bottom: 30px;

    img {
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    .logo-text {
        @include text-style2;
        margin: 0 0 0 0;
        //text-shadow: 0px 3px 3px rgb(73, 69, 69);
    }
    }

//=== END OF FIRST SECTION NAVBAR (LOGO + FURNIRO) ===//


//=== NAVBAR ===//

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navbar-height;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//=== END OF NAVBAR ===//


//=== NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//

.items-container {
    width: 430px;
    padding-right: 200px;
    margin-top: 29px;
    margin-bottom: 22px;

    ul {
    display: flex; 
    list-style: none;
    gap: 75px;
    margin: 0 0 0 0;

    li {
        a {
        @include text-style1;
        text-decoration: none;       
        }
    }
}
}


//=== END OF NAVBAR SECOND SECTION (LINKS - HOME, SHOP.....) ===//


//=== NAVBAR THIRD SECTION (ICONS) ===//

.icons-container {
    display: flex;
    gap: 45px;
    width: 405px;
    margin-right: 15px;
    margin-top: 36px;
    margin-bottom: 30px;
    
}

.icon1, .icon2, .icon3, .icon4 {
    height: 27px;
    width: 27px;
}

//=== END OF NAVBAR THIRD SECTION (ICONS) ===//


//=== MAIN CONTENT ON HOME PAGE ===//

.main-container {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 58px;

}


.main-content {
    background-color: #FFF3E3;
    margin-top: 160px;
    text-align: start;
    width: 643px;
    height: 443px;
    border-radius: 2%;

    h5 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 3px;
        margin-left: 41px;
        margin-top: 62px;
        color: $text-color;
    }

    .h1-text {
        line-height: 1.26; 
        color: $main-color;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 52px;
        margin-top: -22px;
        margin-left: 41px;
    }


    .main-p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        margin-left: 41px;
        margin-top: -42px;
        line-height: 1.37;
        color: $text-color;
    }

    .main-button {
        @include main-button
    }

}

//=== END OF MAIN CONTENT ON HOME PAGE ===//


//=== BACKGROUND ON HOME PAGE ===//

.main-section {
    background-image: url(../../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: $navbar-height;
    height: 100vh; 
    width: 100%;
}

//=== END OF BACKGROUND ON HOME PAGE ===//




